@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Fredoka:wght@300..700&display=swap");


html, body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 0;
}

header, footer {
  background-image: url("./Images/feuilles_header.png");
  /* background-image: url("./Images/header.png"); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
    height: 148px;
    width: auto;
}

footer {
    height: 114px;
    width: auto;
    justify-content: flex-end;
}

header h1, footer a, footer p {
    color: white;
    text-shadow:
      5px 5px 10px #022a08,
      -5px 5px 10px #022a08,
      -5px -5px 10px #022a08,
      5px -5px 10px #022a08;
    font-family: 'Fredoka';
}

header h1 {
  font-size: 36px;
  letter-spacing: 2px;
  margin: 25px 0 10px 0;
}

header img {
  width: 110px;
  height: auto;
}

#entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    background-color: transparent;
}

#entete img {
    width: 50px;
    height: 50px;
}

#user_button {
    margin-right: 10px;
}

#calendar {
    position: relative;
    right: -9%;
}

/*menu rideau*/
.menu_toggler {  /*le bouton du menu */
    height: 45px;
    width: 50px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    margin-left: 10px;
}

.line {
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 5px;
    background: #5bc501;
    transition: transform 0.3s ease-out;
    opacity: 0.1s ease-out;
}

.l1 {
    transform: translateY(-10px);
}

.l3 {
    transform: translateY(10px);
}

.menu_toggler.active .l1 {
    transform: translateY(0) rotate(135deg);
}

.menu_toggler.active .l2 {
    opacity: 0;
}

.menu_toggler.active .l3 {
    transform: translateY(0) rotate(-135deg);
}

.left_menu {
    position: fixed;
    width: 70vw; /*70% de l'écran*/
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./Images/green_menu.jpg);
    transform: translateX(-100%);
    transition: transform 0.8s cubic-bezier(0.18,0.89,0.32,1.27);
    z-index: 9;
    margin-top: 459px;
}

.left_menu.active {
    transform: translate(0);
}

.left_menu a {
    font-family: "fredoka";
    font-size: 22px;
    color: #564E4E;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

#deconnexion {
    display: flex;
    align-items: center;
    margin: 20px 30px 0 0;

    img {
        width: 30px;
        height: auto;
        margin-right: 5px;
    }
}



/* espace connexion*/

.right_menu a {
    font-family: 'Fredoka';
    color: #689e58;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}

.right_menu p {
    font-family: 'Fredoka';
    color: #564E4E;
    text-align: center;
    margin: 0;
    font-size: 18px;
}

.right_menu label {
    font-family: 'Fredoka';
    display: inline-block;
    font-size: 18px;
    color: #564E4E;
    margin: 25px 0 4px 0;
}

.right_menu h2 {
    font-family: "Cabin sketch";
    font-size: 28px;
    text-align: center;
    margin-bottom: 0;
    color: #564E4E;
}

#checkbox {
    width: auto;
    margin-right: 15px; /*changer la couleur avec javascript*/
}

.checkbox_container {
    display: flex;
    align-items: center;

    label {
        margin: 0;
    }
}

.right_menu input {
    border: 1px solid #ccc;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    font-size: 14px;
    font-style: italic;
    box-sizing: border-box;
    font-family: 'Fredoka';
    padding: 10px 10px;
}

.right_menu button {
    background-color: #564E4E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 24px;
    font-family: 'Cabin Sketch';
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.523);
    text-align: center;
    margin: 20px 30px 30px;
    padding: 10px 10px;
}

.right_menu button:hover {
    background-color: #221b1b;
}

#forgetten_password {
    font-family: 'Fredoka condensed';
    font-size: 15px;
    font-weight:normal;
    color: #564E4E;
    text-align: center;
    margin: 20px 0 10px 0;
}

.right_menu {
    background-image: url(./Images/green_menu.jpg);
    position: fixed;
    width: 80vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    border: none;
    transform: translateX(100%);
    transition: transform 0.8s cubic-bezier(0.18,0.89,0.32,1.27);
    z-index: 9;
    margin-top: 32px;
}

.right_menu.active {
    transform: translate(-205px);
}

footer a {
    font-size: 30px;
    text-decoration: none;
}

footer p {
    font-size: 15px;
}

.attribution {
    font-size: 15px;
    text-decoration: underline;
    text-underline-offset: 2px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.carousel_container {
    margin: 50px 0 40px 0;
    position: relative;
    width: 100%;
    overflow: hidden;

    h2 {
        font-family: "cabin sketch";
        font-size: 30px;
        color: #564E4E;
        text-align: center;
        margin: 10px 0;
    }
}


.carousel_inner {
    display: flex;
    justify-content: center;
    padding: 0;
    height: 80%;
}

.slide {
    width: 60%;
    height: 70px;
    border: solid 12px #5bc501;
    border-radius: 8px;
    padding: 15px 10px;
    font-family: "fredoka";
    font-size: 16px;
    text-align: center;
    color: #564E4E;
    margin: 0 20px;
}

.carousel_control {
    position: absolute;
    top: 60%;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
}

.carousel_control.prev { left: 5px; }
.carousel_control.next { right: 5px; }

.search {
    background: url(./Images/carton_body.png);
    width: 90%;
    height: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.523);
    border-radius: 8px;

    h2 {
        font-family: "fredoka"; /* "fredoka one" n'apparaît pas sur tous les moteurs de recherche*/
        color: #564E4E;
        /*-webkit-text-stroke: 0.2px white; /* n'apparaît pas sur tous les moteurs de recherche */
        letter-spacing: 2px;
        font-size: 28px;
        padding: 15px 0 25px 0;
        text-align: center;
        margin: 0 40px;
    }

    .separation {
        width: 30%;
        height: 1px;
        background-color: #564E4E;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    p {
        font-family: "fredoka";
        color: #564E4E;
        text-align: center;
        font-size: 16px;
        margin: 0 20px 25px 20px;
    }

    #border {
        border: solid 0.5px #564e4e76;
        border-radius: 8px;
        margin: 2%;
        padding: 3%;
    }

}

.search_bar {
    position: relative; /* pour ne pas déformer la barre lors des suggestions*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 12px;

    img {
        width: 60px;
        height: 60px;
        cursor: pointer;
        margin: 10px 5px;
    }

    input {
        border: none;
        width: 100%;
        border-radius: 12px;
        font-size: 14px;
        font-style: italic;
        font-family: 'Fredoka';
        padding: 20px 5px;
        margin: 10px 5px 10px 10px;
        box-sizing: border-box;
        text-align: center;
    }
}

#suggestions {
    font-family: "fredoka";
    font-style: italic;
    color: #564E4E;
    font-size: 16px;
    position: absolute;
    top: 80%; /* Juste sous l'input */
    left: 20px;
    list-style-type: none;
    width: 65%;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: white;
    z-index: 10;
    max-height: 200px; /* Limite la hauteur */
    overflow-y: scroll; /* Permet de faire défiler si la liste est longue */
    touch-action: manipulation;
    display: none; /* Par défaut, la liste est masquée */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0;
  }

  #suggestions li {
    padding: 8px;
    cursor: pointer;
  }

  #suggestions li:hover {
    background-color: #f0f0f0;
  }

.down_menu {
    display: flex;
    flex-direction: column;
    margin: 60px 0 30px 0;
    width: 90%;

    img {
        width: 40px;
        height: auto;
        margin: 5px 0 10px 0;
    }

    a {
        border: solid 8px #5bc501;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        font-family: "fredoka";
        font-size: 20px;
        text-align: center;
        text-decoration:none;
        color: #564E4E;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 20px;
        background-color: white;
        box-shadow: 0px -2px 2px 0px #564e4e5d;
        position: relative;
    }

    #liens {
        z-index: 0;
    }
    
    #guide {
        z-index: 1; 
        top: -15px; 
    }
    
    #calendrier {
        z-index: 2;
        top: -30px;
    }
    
}