main {
    width: 100%;
    background-color: rgb(253, 255, 248);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header, footer {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
    height: 150px;
    width: 100vw;
    margin-top: 59px;
    outline: 2px solid #ffffff;
    outline-offset: -8px;
    background-image: url(/Images/header.webp);
}

footer {
    height: 100px;
    width: 100vw;
    justify-content: flex-end;
    box-shadow: 0 0 30px 16px rgba(255, 255, 255, 0.4);
    background: rgba(28,150,0,1);
}

header h1 {
    color: white;
    font-family: "fredoka";
    font-size: 47px;
    margin: 15px 0 0;
    padding: 10px 10px 50px;
    text-align: center;
    text-shadow:
        0.5px 0.5px 3px #024821,
        -0.5px 0.5px 3px #024821,
        -0.5px -0.5px 3px #024821,
        0.5px -0.5px 3px #024821;
    z-index: 1;
}

#backHome {
  width: 95px;
  height: auto;
  position: relative;
  top: -50px;
  left: 0;
  z-index: 10;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center
}

#grassPictureFooter {
    width: 100vw;
    height: 110px;
    position: relative;
    z-index: 2;
    top: -25px;
}

#entete {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 0;
    background: #ffffff94;
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: 1000;  
}

#entete img {
    width: 50px;
    height: 50px;
}

#calendar {
    margin-right: 20px;
}

/*menu rideau*/
.menuToggler {  /*le bouton du menu */
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
}

.line {
    position: absolute;
    display: block;
    width: 45px;
    height: 2px;
    border-radius: 5px;
    background: #1c9600;
    transition: transform 0.3s ease-out;
    opacity: 0.1s ease-out;
}

.line1 {
    transform: translateY(-11px);
}

.line3 {
    transform: translateY(11px);
}

.menuToggler.active .line1 {
    transform: translateY(0) rotate(135deg);
}

.menuToggler.active .line2 {
    opacity: 0;
}

.menuToggler.active .line3 {
    transform: translateY(0) rotate(-135deg);
}

.menuToggler {
    margin-left: 20px;
}

.menuDesktop {
    display: none;
}

.leftMenu {
    position: fixed;
    width: 90vw; /*80% de l'écran*/
    max-width: 300px;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right bottom, #008742, #40a048, #6aba4e, #94d353, #c0ec59);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.307);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 30px 0;
}

.leftMenu {
    transform: translateX(-125%);
    transition: transform 0.7s cubic-bezier(0.18,0.89,0.32,1.27);
    z-index: 9;
    margin-top: 355px;
}

.leftMenu.active {
    transform: translate(0);
}

.leftMenu a { 
    width: 85%;
    font-family: "fredoka";
    font-size: 22px;
    color: #564E4E;
    text-decoration: none;
    margin: 1px 0;
    background: #fefffa;
    padding: 10px 0px 10px 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.separation {
    width: 30%;
    height: 1px;
    background-color: #564E4E;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 50%;
}

.lineMin, .lineMax {
    width: 95%;
    height: 1px;
    background-color: #564E4E;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}

.lineMax {
    height: 3px;
}

.containArticle {
    box-shadow: 0 4px 8px #564e4e2f;
    width: 95vw;
    max-width: 650px ;
    height: auto;
    background-color: white;
    border-radius: 8px;
    padding: 30px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 40px 0;
}

#contactLink {
    font-size: 32px;
    text-decoration: none;
    color: white;
    font-family: "fredoka";
    text-shadow:
        0.5px 0.5px 1px #187b27,
        -0.5px 0.5px 1px #187b27,
        -0.5px -0.5px 1px #187b27,
        0.5px -0.5px 1px #187b27;
    position: relative;
    top: 115px;
    z-index: 4;
}

footer p {
    font-size: 14px;
    color: white;
    font-family: "fredoka";
    margin: 10px 0;
}

.attribution {
    font-size: 15px !important;
    color: white;
}


@media (max-width: 360px) {
    header h1 {
        margin-top: 0px;
    }

    #backHome {
        top: -57px;
        left: 0;
        z-index: 2;
    }
}

@media (min-width: 760px) {

    header {
        height: 170px;
        margin: 0;
        outline-offset: -8px;
        width: 100%;
    }

    header h1 {
        font-size: 62px;
        backdrop-filter: none;
        background: none;
        padding: 35px 0 0;
        margin: 0;
    }

    #backHome {
        width: 110px;
        position: relative;
        top: -5px;
        left: 5px;
    }


    #entete {
        display: none;
    }

    .menuDesktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .linkMenuDesktop { 
        font-family: "fredoka";
        font-size: 22px;
        color: #564E4E;
        text-decoration: none;
        background: #fefffa;
        padding: 0;
        margin: 20px 10px;
        align-items: center;
    }

    .linkMenuDesktop:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1.2px;
        transform: scale(1.1);
        font-weight: 500;
    }

    header {
        justify-content: center;
        align-items: stretch;
    }

    #grassPictureFooter {
        display: none;
    }

    #contactLink {
        top: 0;
        z-index: 4;
    }

    footer {
        width: 100%;
    }
}