main {
    width: 100%;
    background: url(../Images/bg-body.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header, footer {
  background: url(../Images/bg-webp.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
    height: 160px;
    width: 100%;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.2)
}

footer {
    height: 120px;
    width: 100%;
    justify-content: flex-end;
    box-shadow: 0 0 30px 16px rgba(255, 255, 255, 0.4)
}

header h1 {
    color: white;
    font-family: "fredoka";
    font-size: 42px;
    letter-spacing: 1px;
    margin: 13px 0 11px;
    padding: 20px 27px 65px;
    outline: 5px double #ffffff;
    outline-offset: -2px;
    text-shadow:
        0.5px 0.5px 1.5px #187b27,
        -0.5px 0.5px 1.5px #187b27,
        -0.5px -0.5px 1.5px #187b27,
        0.5px -0.5px 1.5px #187b27;
}

header img {
  width: 110px;
  height: auto;
  position: relative;
  top: -70px;
}

#entete {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    background-color: transparent;
}

#entete img {
    width: 50px;
    height: 50px;
}

/*menu rideau*/
.menuToggler {  /*le bouton du menu */
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
}

.line {
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    border-radius: 5px;
    background: #5bc501;
    transition: transform 0.3s ease-out;
    opacity: 0.1s ease-out;
}

.line1 {
    transform: translateY(-10px);
}

.line3 {
    transform: translateY(10px);
}

.menuToggler.active .line1 {
    transform: translateY(0) rotate(135deg);
}

.menuToggler.active .line2 {
    opacity: 0;
}

.menuToggler.active .line3 {
    transform: translateY(0) rotate(-135deg);
}

.menuToggler {
    margin-right: 25%;
}

#userButton {
    margin-left: 25%;
}

.leftMenu {
    position: fixed;
    width: 80vw; /*80% de l'écran*/
    max-width: 390px;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #c0ec59;
    transform: translateX(-125%);
    transition: transform 0.7s cubic-bezier(0.18,0.89,0.32,1.27);
    z-index: 9;
    margin-top: 512px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.307);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 30px 0;
}

.leftMenu.active {
    transform: translate(-42px);
}

.leftMenu a { 
    width: 85%;
    font-family: "fredoka";
    font-size: 22px;
    color: #564E4E;
    text-decoration: none;
    margin: 1px 0;
    background: #fefffa;
    padding: 10px 0px 10px 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#deconnexion {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 0;
    text-align: center;
    padding-left: 0;
    border-radius: 8px;
}

#deconnexion img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}


/* menu connexion*/
.rightMenu a {
    font-family: "Fredoka";
    color: #689e58;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}

.rightMenu p {
    font-family: "Fredoka";
    color: #564E4E;
    text-align: center;
    margin: 0;
    font-size: 18px;
}

.rightMenu label {
    font-family: "Fredoka";
    display: inline-block;
    font-size: 18px;
    color: #564E4E;
    margin: 35px 0 4px 0;
}

.rightMenu h2 {
    font-family: "Cabin sketch";
    font-size: 32px;
    text-align: center;
    margin: 15px 0 10px;
    color: #564E4E;
}

#checkbox {
    width: auto;
    margin-right: 10px; /*changer la couleur avec javascript ???*/
}

.checkboxContainer {
    display: flex;
    align-items: center;
}

.checkboxContainer label {
    margin: 10px 0 !important;
    font-size: 14px !important;
}

.rightMenu {
    background: #fefffa;
    border: 14px solid #c0ec59;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: fixed;
    width: 75vw;
    max-width: 350px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.8s cubic-bezier(0.18,0.89,0.32,1.27);
    z-index: 9;
    margin-top: 45px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.307);
}

.rightMenu.active {
    transform: translate(-162px);
}

.rightMenu input {
    border: 1px solid #c0ec59;
    width: 100%;
    height: auto;
    border-radius: 5px;
    font-size: 14px;
    font-style: italic;
    box-sizing: border-box;
    font-family: 'Fredoka';
    padding: 10px 10px;
}

.initialisation input:focus, .contact input:focus, .inscription input:focus, .rightMenu input:focus  {
    background: #c0ec5949;
    color: black;
}

.rightMenu label {
    margin-top: 20px;
}

.rightMenu button {
    background-color: rgba(255, 0, 0, 0.162);
    cursor: not-allowed;
    /* background-color: #564E4E; */
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 22px;
    font-family: "Cabin Sketch";
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.523);
    text-align: center;
    margin: 10px 0 20px 38px;
    padding: 10px 10px;
    width: 75%;
}
/* A remettre quand la fonction JS sera faite */
/* .rightMenu button:disabled {
    background-color: rgba(255, 0, 0, 0.162);
    cursor: not-allowed;
} */

#forgettenPassword {
    font-family: "Fredoka";
    font-size: 15px;
    font-weight:normal;
    color: #564E4E;
    text-align: center;
    margin: 15px 0 0;
}


.separation {
    width: 30%;
    height: 1px;
    background-color: #564E4E;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 50%;
}

#contactLien {
    font-size: 32px;
    text-decoration: none;
    color: white;
    font-family: "fredoka";
    text-shadow:
        0.5px 0.5px 1px #187b27,
        -0.5px 0.5px 1px #187b27,
        -0.5px -0.5px 1px #187b27,
        0.5px -0.5px 1px #187b27;
}

footer p {
    font-size: 14px;
    color: white;
    font-family: "fredoka";
    margin-top: 20px;
}

.attribution {
    font-size: 15px !important;
    color: white;
}

.constructionButton {
    font-size: 17px !important;
    color: rgb(210, 43, 43) !important;
    font-style: italic;
    margin: 10px 25px 0 !important;
}

#constructionButton { /* paragraphe du menu*/
    font-size: 12px;
    color: rgb(210, 43, 43);
    font-style: italic;
    margin: 0;
}

/* @media screen and (min-width: 800px) {
    .rightMenu {
        display: none;
    }
} */