.construction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.construction img {
    width: 90vw;
    height: auto;
    box-shadow: 0 0 5px 2px #564e4e76;
    margin: 0 30px 20px;
    border-radius: 8px;
}

.construction h2 {
    font-family: "cabin sketch";
    font-size: 20px;
    text-align: center;
    margin: 70px 30px 20px;
    color: #564E4E;
}