  .guideEntretien {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  details {
    border: 1px solid #ddd;
    background: #fff;
    border: none;
    font-family: 'fredoka';
    font-size: 18px;
    border-radius: 8px;
    margin : 10px 5px 0px 5px;
    color: #564E4E;
    width: 95vw;
    max-width: 700px;
    box-shadow: 0 4px 8px #564e4e2b;
  }

  summary {
    padding: 20px 20px 20px 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
    color: #564E4E;
    position: relative;
    list-style: none;
    transition: background-color 0.4s ease-in-out;
    border: 1px solid #564e4e6f;
    border-radius: 5px;
  }

  summary::before {
    content: ">";
    position: absolute;
    left: 8px;
    font-size: 20px;
    color: #564E4E;
    transition: transform 0.4s ease;
  }

  details[open] summary::before {
    content: ">"; 
    transform: rotate(90deg); /* le chevron se tourne vers le bas quand ouvert */
  }

  /* summary:hover {
    background-color: #eaeaea;
  } */

  details[open] summary {
    background: #cfffce58;
    border: none;
    transition: background-color 0.4s ease-in-out;
    font-weight: 500;
  }

  .conseils {
    font-size: 18px;
    color: #564E4E;
    margin: 20px 15px;
    font-family: 'fredoka';
  }

  #saison {
    margin-bottom: 80px;
  }

  #verLecture {
    width: 100px;
    height: auto;
    margin-top: 20px;
  }

  #titreEntretien {
    font-family: "cabin sketch";
    text-align: center;
    color: #564E4E;
    margin: 15px 10px;
    font-size: 24px;
  }

  #aRenommer {
    margin-bottom: 100px;
  }

  h4 {
    margin: 15px 10px 10px 15px;
    font-weight: normal;
    font-style: italic;
  }

  h3 {
    margin: 15px;
    font-size: 20px;
    font-weight: 500;
  }

  ul {
    margin: 0 15px 0 0;
    padding-bottom: 20px;
  }

  li {
    margin-bottom: 5px;
  }

  .paragraphePrincipal {
    font-size: 18px;
    color: #564E4E;
    font-family: 'fredoka';
    text-align: center;
    margin: 10px 10px 0;
  }
  
  article {
    padding-bottom: 30px !important;
    margin: 10px 0 20px 0 !important;
}

.saisons {
  margin-top: 35px;
}