  details {
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    font-family: 'fredoka';
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    margin : 0 5px 5px 5px;
    color: #564E4E;
  }

  summary {
    padding: 15px 20px 15px 25px;
    cursor: pointer;
    font-size: 18px;
    color: #564E4E;
    border-bottom-left-radius: 8px;
    position: relative;
    list-style: none;
    transition: background-color 0.4s ease-in-out;
    border: 4px solid #90ee8d58;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  summary::before {
    content: ">";
    position: absolute;
    left: 8px;
    font-size: 20px;
    color: #333;
    transition: transform 0.4s ease;
  }

  details[open] summary::before {
    content: ">"; 
    transform: rotate(90deg); /* le chevron se tourne vers le bas quand ouvert */
  }

  /* summary:hover {
    background-color: #eaeaea;
  } */

  details[open] summary {
    background: #90ee8d58;
    border: none;
    transition: background-color 0.4s ease-in-out;
  }

  .conseils {
    font-size: 16px;
    color: #333;
    margin: 20px 15px;
    font-family: 'fredoka';
  }

  #saison {
    margin-bottom: 80px;
  }

  #verLecture {
    width: 100px;
    height: auto;
    margin-left: 38%;
    margin-top: 60px;
  }

  #titreEntretien {
    font-family: "cabin sketch";
    text-align: center;
    margin: 0 15px;
    color: #564E4E;
  }

  #aRenommer {
    margin-bottom: 80px;
  }

  h4 {
    margin: 15px 10px 10px 15px;
    font-weight: normal;
    font-style: italic;
  }

  h3 {
    margin-left: 15px;
  }

  ul {
    margin: 0 15px 0 0;
    padding-bottom: 20px;
  }

  li {
    margin-bottom: 5px;
  }

  .paragraphePrincipal {
    padding: 10px;
    font-size: 18px;
    color: #333;
    margin: 10px 5px 25px;
    font-family: 'fredoka';
    text-align: center;
  }