.index-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel_container {
    margin: 60px 0 20px 0;
    width: 100%;
    overflow: hidden;
}


.carousel_container h2 {
    font-family: "cabin sketch";
    font-size: 30px;
    color: #564E4E;
    text-align: center;
    margin: 40px 0 10px;
}

.carousel_inner {
    display: flex;
    justify-content: center;
    height: 90%;
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    width: 190px;
    height: 90px;
    font-family: "fredoka";
    font-size: 20px;
    text-align: center;
    color: #564E4E;
    top: 405px;
}

.slide p {
    font-size: 24px;
    margin-top: 3px;
}

#slide_economy {
    width: 210px;
    top: 405px;
}

.little_slide {
    top: 422px;
}

#cadre_feuilles {
    position: relative;
}

#cadre_feuilles, .carousel_inner img {
    width: 290px;
    height: 200px;
}

.carousel_control {
    position: absolute;
    top: 440px;
    cursor: pointer;
    width: 40px;
}

.carousel_control.prev { left: 8px; }

.carousel_control.next { right: 8px; }

.search {
    width: 80vw;
    margin: 40px 0 60px;
    max-width: 400px;
}

.search h2 {
    font-family: "Cabin sketch"; /* "fredoka one" n'apparaît pas sur tous les navigateurs/
    color: #564E4E;
    /*-webkit-text-stroke: 0.2px white; /* n'apparaît pas sur tous les navigateurs */
    letter-spacing: 2px;
    font-size: 28px;
    padding: 15px 0;
    text-align: center;
    margin: 25px 0;
    color: #564E4E;
}

.search p {
    font-family: "fredoka";
    color: #564E4E;
    text-align: center;
    font-size: 18px;
    margin: 0 0 25px 0;
}

.search_bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 12px;
    margin: 20px 0;
    width: 100%;
}

.search_bar img {
    width: 60px;
    height: 60px;
}

.search_bar input {
    border: none;
    width: 100%;
    border-radius: 12px;
    font-size: 14px;
    font-style: italic;
    font-family: 'Fredoka';
    padding: 20px 5px;
    margin: 10px 5px 10px 10px;
    box-sizing: border-box;
    text-align: center;  
}

.search_bar button {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 2px;
}

#suggestions {
    font-family: "fredoka";
    font-style: italic;
    color: #564E4E;
    font-size: 18px;
    position: absolute;
    top: 80%; /* Juste sous l'input */
    left: 0;
    list-style-type: none;
    width: 100%;
    border-radius: 8px;
    background-color: white;
    z-index: 9;
    max-height: 300px;
    overflow-y: scroll; /*pour faire défiler si liste trop longue*/
    display: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.307);
    padding: 0;
  }

#suggestions li {
    padding: 10px;
    cursor: pointer;
}

/*à mettre pour desktop*/
/*#suggestions li:hover {
    background-color: #f0f0f0;
}*/

/* Style pour l'overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.overlay-content {
    background-color: #FDEED1;
    width: 330px;
    height: auto;
    padding: 40px 20px 20px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: "Fredoka";
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 45px;
    cursor: pointer;
    color: #4e3d28;
}

.overlay-content h1 {
    font-size: 40px;
    color: #4e3d28;
    font-family: "Cabin sketch";
}

.overlay-content p {
    color: #4e3d28;
    font-size: 18px;
}

#overlay-image {
    width: 250px;
    height: auto;
    margin: 0;
}

#overlay-status {
    font-size: 20px;
    color: #4e3d28;
}

.down_menu {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.down_menu  img {
    width: 40px;
    height: 40px;
    margin: 5px 0 10px 0;
}

.down_menu  a {
    border: solid 8px #5bc501;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: "fredoka";
    font-size: 20px;
    text-align: center;
    text-decoration:none;
    color: #564E4E;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
    background-color: white;
    box-shadow: 0px -2px 2px 0px #564e4e5d;
    position: relative;
}

#liens {
    z-index: 0;
}

#guide {
    z-index: 1; 
    top: -15px; 
}

/* #calendrier {
    z-index: 2;
    top: -30px;
} */
    
/*code du calendrier*/
#calendar-fonctionnality, .search {
    font-family: "fredoka";
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../Images/carton-body.webp);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 0 20px;
    max-width: 500px;
}

#calendar-fonctionnality {
    margin: 50px 0 80px;
    width: 85vw;
}

.calendar-container {
    width: 80vw;
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 15px 0 35px;
    padding-bottom: 10px;
    max-width: 400px;
    max-height: 750px;
    padding: 0 15px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #564E4E;
    padding: 15px 0;
    background-color: #eafbdb;
}

.calendar-header button {
    background-color: transparent;
    border: none;
    color: #564E4E;
    font-size: 26px;
    cursor: pointer;
}

.calendar-title {
    font-family: "Cabin sketch";
    font-size: 28px;
    text-align: center;
    margin: 40px 0 20px;
    color: #564E4E;
}

.calendar-header h3 {
    margin: 0;
    color: #564E4E;
    font-size: 20px;
    font-family: "fredoka";
    font-weight: normal;
}

.calendar {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.calendar th, .calendar td {
    color: #564E4E;
    font-weight: normal;
    height: 20px;
    vertical-align: middle; /* Centre le contenu */
}

.calendar th { 
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px 5px;
}

.calendar td {
    font-size: 16px;
    padding: 15px 5px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

/* à mettre pour le desktop
.calendar td:hover {
    background-color: #f0f0f0; 
} */

.calendar td.today {
    color: #ffffff;
    font-weight: bolder;
    background: #5dc5018d;
    border-radius: 50%;
}

.calendar td.other-month {
    color: #b4b4b4;
    cursor: default; /* Pas interactif */
    background: none;
    font-size: 14px;
}

.note-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    color: #564E4E;
}