main {
    background-image: url("../images/carton-body.webp");
    background-size: cover;
    background-position: center;
    margin: 60px 0 50px 0;
}


/* code page connexion */
.connexion {
    background-color: white;
    background-size: cover;
    background-position: center;
    margin: 50px 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bande_horizontale_1 {
    height: 4px;
    margin: 5px 0;
    background-color: #564E4E;
    width: 90%;
}

.bande_horizontale_2 {
    height: 2px;
    background-color: #564E4E;
    width: 80%;
}

.connexion h2 {
    font-family: "Fredoka";
    font-size: 24px;
    font-weight: bolder;
    color: #564E4E;
    text-align: center;
    margin: 20px 30px 5px 30px;
}

.connexion p {
    font-family: "Fredoka condensed";
    font-size: 20px;
    font-weight:normal;
    color: #564E4E;
    text-align: center;
    margin: 0;
    padding: 20px 30px 0 30px;
}

.connexion a {
    color: #8CC37C;
    text-decoration: underline;
}

.connexion label {
    font-family: "Fredoka";
    display: inline-block;
    font-size: 15px;
    color: #564E4E;
    margin: 25px 0 4px 0;
}

.connexion img {
    width: 70%;
    height: auto;
    left: 45px;
    top: -25px;
    position: relative;
}

.connexion input {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 5px;
    font-size: 12px;
    font-style: italic;
    box-sizing: border-box;
    font-family: 'Fredoka';
    padding: 10px 10px;
}

.connexion button {
    background-color: #564E4E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 28px;
    font-family: 'Cabin Sketch';
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.523);
    text-align: center;
    margin: 40px 40px;
    padding: 5px 20px;
}

.connexion button:hover {
    background-color: #221b1b;
}

#forgetten_password {
    font-family: 'Fredoka condensed';
    font-size: 15px;
    font-weight:normal;
    color: #564E4E;
    text-align: center;
    margin-bottom: 11px;
}

.connexion form {
    width: 90%;
    height: auto;
    background: #c0ec59;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.connexion fieldset {
    background-color: #fefffa;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 25px;
    position: relative;
    bottom: 40px;
    padding: 0 20px;
}