main {
    background-image: url("../images/carton-body.webp");
    background-size: cover;
    background-position: center;
    margin: 60px 0 50px 0;
}


/* code page inscription */

.inscription {
    background-color: white;
    background-size: cover;
    background-position: center;
    margin: 50px 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bande_horizontale_1 {
    height: 4px;
    margin: 5px 0;
    background-color: #564E4E;
    width: 90%;
}

.bande_horizontale_2 {
    height: 2px;
    background-color: #564E4E;
    width: 80%;
}

.inscription h2 {
    font-family: 'Fredoka';
    font-size: 24px;
    font-weight: bolder;
    color: #564E4E;
    text-align: center;
    margin: 20px 30px;
}

.inscription p {
    font-family: 'Fredoka condensed';
    font-size: 20px;
    font-weight:normal;
    color: #564E4E;
    text-align: center;
    margin: 0;
    padding: 15px 30px 0 30px;
}

.inscription label {
    font-family: 'Fredoka';
    display: block;
    font-size: 18px;
    color: #564E4E;
    margin: 25px 0 4px 0;
}

.inscription img {
    width: 70%;
    height: auto;
    left: 45px;
    top: -25px;
    position: relative;

}

.inscription input {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    font-style: italic;
    box-sizing: border-box;
    font-family: 'Fredoka';
    padding: 10px 10px;
}

#submit-btn {
    background-color: #564E4E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 28px;
    font-family: 'Cabin Sketch';
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.523);
    text-align: center;
    margin: 40px 40px;
    padding: 5px 20px;
}

#submit-btn:hover {
    background-color: #278a20;
}

#submit-btn:disabled {
    background-color: rgba(255, 0, 0, 0.162);
    cursor: not-allowed;
}


.inscription form {
    width: 370px;
    height: auto;
    background: #c0ec59;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    margin-bottom: 50px;
    padding: 0 0 20px 0;
}

.inscription fieldset {
    position: relative;
    background-color: #fefffa;
    width: 290px;
    height: auto;
    position: relative;
    bottom: 25px;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0 20px;
    margin: 0;
}

#password-error-message-1, #password-error-message-2  {
    color: red;
    font-family: "fredoka";
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

#password-error-message-1 {
    color: #564E4E;
}


#toggle-password {
    position: absolute;
    right: 25px;
    top: 145px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: #555;
}