.inscription {
    background-color: white;
    background-size: cover;
    background-position: center;
    margin: 50px 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bande_horizontale_1 {
    height: 4px;
    margin: 5px 0;
    background-color: #564E4E;
    width: 90%;
}

.bande_horizontale_2 {
    height: 2px;
    background-color: #564E4E;
    width: 80%;
}

.inscription label {
    font-family: 'Fredoka';
    display: block;
    font-size: 18px;
    color: #564E4E;
    margin: 25px 0 4px 0;
}

.inscription img {
    width: 180px;
    height: auto;
    left: 13px;
    top: -95px;
    position: absolute;
}

.inscription input {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    font-style: italic;
    box-sizing: border-box;
    font-family: 'Fredoka';
    padding: 10px 10px;
}

#submit-btn {
    background-color: #564E4E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 28px;
    font-family: 'Cabin Sketch';
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.523);
    text-align: center;
    margin: 40px 40px;
    padding: 5px 20px;
}

#submit-btn:hover {
    background-color: #278a20;
}

#submit-btn:disabled {
    background-color: rgba(255, 0, 0, 0.162);
    cursor: not-allowed;
}


#password-error-message-1, #password-error-message-2  {
    color: red;
    font-family: "fredoka";
    font-size: 15px;
    text-align: center;
}

#password-error-message-1 {
    color: #564E4E;
    position: absolute;
    z-index: 100;
    top: 95px;
}

#toggle-password {
    position: relative;
    bottom: -45px;
    right: -235px;
    background: none; /* Pas de fond */
    border: none; /* Pas de bordure */
    cursor: pointer;
}

#toggle-password img {
    width: 30px; 
    height: auto;
    opacity: 60%;
    display: inline-block; /* Aligne correctement l'image à l'intérieur du bouton */
    vertical-align: middle;
}

.password-container {
    margin: 20px 0 5px;
    position: relative;
}
