.links {
    padding: 80px 0 60px;
}

.links h2 {
    font-family: "Cabin sketch";
    font-size: 30px;
    font-weight:normal;
    color: #564E4E;
    text-align: center;
    padding: 15px 0;
    margin: 15px 0;
}

.separationLinksMin, .separationLinksMax {
    width: 90%;
    height: 1px;
    background-color: #564E4E;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}

.separationLinksMax {
    height: 3px;
}

.listSites {
    font-family: "Cabin sketch";
    font-size: 22px;
    font-weight:normal;
    color: #564E4E;
    margin: 45px 10px 45px 0;
    list-style-type: none;
    font-size: 24px;
    padding: 20px 0 10px;
}

.linksList a {
    margin-left: 5px;
}

.linksList a:hover { 
    background-color: #3ab14c4e;
}

.linksList a:visited {
    color: #42cf54;
}

.linksList a, #suggestionSiteButton a {
    font-family: 'Fredoka';
    text-decoration: none;
    color: #564E4E;
    font-size: 18px; 
}

#suggestionSiteButton a {
    font-size: 21px;
}

.linksList li {
    margin: 15px 0;
}

.links img {
    width: 80px;
    height: auto;
    position: absolute;
    right: 12vw;
    bottom: -43.5vh;
}

#suggestionSiteButton {
    position: relative;
    background: url(../Images/carton-body.webp);
    text-align: center;
    margin: 80px 35px 0;
    height: auto;
    width: 70%px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0;
    border: none;
    box-shadow: 0 0 5px 2px #564e4e76;
    outline: 0.5px solid #564e4e76;
    outline-offset: -6px;
}

#suggestionSiteButton a {
    padding: 9% 5%;
}

#webSiteLinks {
    margin-top: 60px;
}