.links {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links h2 {
    font-family: "Cabin sketch";
    font-size: 24px;
    font-weight:bold;
    color: #564E4E;
    text-align: center;
    margin: 15px 0;
}

.listSites {
    font-family: "fredoka";
    font-size: 22px !important ;
    font-weight:500;
    color: #564E4E;
    margin: 45px 10px 45px 0;
    list-style-type: none;
    font-size: 24px;
    padding-top: 10px;
    text-align: center;
}

.linksList a {
    margin-left: 5px;
}

.linksList a:hover { 
    color: #59b867c7;
}

.linksList a:visited {
    color: #42cf54;
}

.linksList a, #suggestionSiteButton a {
    font-family: 'Fredoka';
    text-decoration: none;
    color: #564E4E;
    font-size: 18px;
    margin: 0; 
}

#suggestionSiteButton a {
    font-size: 20px;
}

.linksList li {
    margin: 20px 0;
}

#suggestionSiteButton {
    position: relative;
    background: url(../Images/carton-body.webp);
    text-align: center;
    margin: 0 0 90px;
    height: auto;
    max-width: 330px;
    border-radius: 8px;
    padding: 15px 10px;
    border: none;
    box-shadow: 0 4px 8px #564e4e61;
    outline: 0.5px solid #564e4e76;
    outline-offset: -6px;
}

#webSiteLinks {
    margin-top: 0;
}

#webSiteLinks, .linksList {
    padding: 0 20px;
    list-style-type: none;
}

picture img{
    width: 180px;
    height: auto;
}